<div class="background">
    <div class="gradient">
      <div class="container">
  
        <style>
          .k-dialog{
    background-color: #7b7476 !important;
  }
  
  .k-window{
    background-color: #7b7476 !important;
  }
          </style>
          <div class="example-wrapper">

          </div>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
        <br><br><br><br><br><br>
      </div>
    </div>
  </div>
  