<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">
      State Management
      </h1>
    </div>
  </div>
  <div class="row" [ngClass]="routeAnimationsElements" rtl>
    <div class="col-md-12 col-lg-6">
      <ng-container *ngIf="users$ | async as users">
        <mat-card
          *ngFor="let user of users; trackBy: trackByUserId"
          [ngClass]="routeAnimationsElements"
        >
          <mat-card-header>
            <img
              mat-card-avatar
              src="https://source.unsplash.com/200x200/?{{ user.username }}"
            />
            <mat-card-title>{{ user.name }} {{ user.surname }}</mat-card-title>
            <mat-card-subtitle>@{{ user.username }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions>
            <button mat-button (click)="editUser(user)">Edit</button>
            <button mat-button (click)="removeUser(user.id)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
      <ng-container *ngIf="isEdit$ | async as isEdit">
      <h2 *ngIf="!isEdit.value">
        Add
      </h2>
      <h2 *ngIf="isEdit.value">Edit</h2>
      <form [formGroup]="userForm" #userFormRef="ngForm" (ngSubmit)="onSubmit(userFormRef)">
        <mat-form-field>
          <input
            matInput
            [placeholder]="
              username
            "
            formControlName="username"
          />
          <mat-error *ngIf="userForm.get('username').hasError('minlength')">

          </mat-error>
          <mat-error *ngIf="userForm.get('username').hasError('required')">

          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [placeholder]="
              name
            "
            formControlName="name"
          />
          <mat-error *ngIf="userForm.get('username').hasError('minlength')">
          </mat-error>
          <mat-error *ngIf="userForm.get('username').hasError('required')">
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [placeholder]="
              surename
            "
            formControlName="surname"
          />
          <mat-error *ngIf="userForm.get('username').hasError('minlength')">
          </mat-error>
          <mat-error *ngIf="userForm.get('username').hasError('required')">
          </mat-error>
        </mat-form-field>
        <div>
          <button *ngIf="!isEdit.value" type="submit" mat-raised-button color="primary">
            Add
          </button>
          <button *ngIf="isEdit.value" type="submit" mat-raised-button color="primary">
           Edit
          </button>
          <button type="reset" mat-button color="warn">Reset</button>
        </div>
      </form>
      </ng-container>
    </div>

  </div>
</div>
